$color-dark: #1C1C1C;
$color-hover: #F38120;
$color-secondary: #12C868;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  color: $color-dark;
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;
}

li {
  list-style: none;
}

a {
  color: $color-dark;
  text-decoration: none;
}

input {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;

  &::placeholder {
    color: #A7A7A7;
  }
}

.button {
  border: none;
  cursor: pointer;
  color: #fff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  line-height: 1.5;
  font-weight: 500;
  text-transform: uppercase;
  box-shadow: inset 0 0 22px rgba(255, 255, 255, 0.25);
  transition: background-color .3s ease;
  border-radius: 200px;

  &-green {
    background-color: $color-secondary;

    &:hover {
      background-color: #21E27C;;
    }
  }

  &-orange {
    background-color: $color-hover;

    &:hover {
      background-color: #FD9C49;
    }
  }

  &:disabled {
    cursor: auto;
    background-color: #555;
  }
}

// Main Style

@mixin gedHoverShadow($color) {
  box-shadow: none;
  transition: all .3s ease;

  &:hover {
    box-shadow: 0 10px 15px rgba($color, 0.4);
  }
}

.container {
  &__main {
    min-height: 100vh;
    min-width: 100%;
    background-image: url("../img/bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size:  cover;
    background-attachment: fixed;
  }
  max-width: 1570px;
  margin: 0 auto;
}

.link-underline {
  padding: 3px 0;
  border-bottom: 2px dotted $color-secondary;
}

.nav {
  display: grid;
  min-width: 100%;
  grid-template-rows: 100px 2px 148px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas:
          'nav nav nav nav nav'
          'hr hr hr hr hr'
          'info pdf logo socials call';
  align-items: center;
}

.grid {
  &-nav {
    grid-area: nav;
  }

  &-hr {
    grid-area: hr;
  }

  &-info {
    grid-area: info;
  }

  &-pdf {
    grid-area: pdf;
  }

  &-logo {
    grid-area: logo;
  }

  &-socials {
    grid-area: socials;
  }

  &-call {
    grid-area: call;
  }

  &-menu {
    display: none;
    border-radius: 0;
    background: transparent;
    box-shadow: none;
  }
}

.nav {
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    height: 100px;
  }

  &__link {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 30px;
    font-weight: 500;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    transition: all .3s ease;

    svg {
      fill: $color-dark;
      transition: all .3s ease;
    }

    &:hover, &.active {
      color: $color-hover;
      border-bottom: 2px solid $color-hover;

      svg {
        fill: $color-hover;
      }
    }
  }
}

.hr {
  display: block;
  height: 1px;
  border: none;
  border-top: 1px solid rgba($color-dark, .07);
}

.header-info {
  &__item {
    text-align: center;
    justify-content: center;
    font-size: 0.75rem;

    &__profession {
      max-width: 240px;
    }

    &__logo {
      .logo__link {
        display: block;
      }
    }
  }

  &__link {
    display: inline-flex;
    align-items: center;
    font-weight: 600;
    transition: all .3s ease;

    &::before {
      content: 'Pdf';
      display: flex;
      font-size: 11px;
      align-items: center;
      justify-content: center;
      width: 44px;
      height: 44px;
      margin-right: 18px;
      color: $color-secondary;
      border-radius: 50%;
      background-color: #fff;
      box-shadow: none;
      transition: all .3s ease;
    }

    &:hover {
      color: $color-secondary;

      &::before {
        background-color: $color-secondary;
        box-shadow: 0 10px 15px rgba($color-secondary, 0.4);
        color: #fff;
      }
    }
  }

  .logo__link {
    display: block;
  }
}

.feedback {
  &__text {
    display: inline-flex;
    align-items: center;

    &::before {
      content: '';
      display: inline-block;
      height: 4px;
      width: 4px;
      margin-right: 4px;
      border-radius: 50%;
      background-color: $color-secondary;
    }
  }

  &__link {
    display: flex;
    flex-direction: column;
    margin-top: 6px;
    transition: color .3s ease;

    &:hover {
      color: $color-secondary;
    }
  }

  &__phone {
    font-size: 1.375rem;
    font-weight: 600;

  }

  &__call-me {
    align-self: center;
    color: $color-secondary;
  }
}

.social-icons {
  &__wrapper {
    display: flex;
    justify-content: center;
    margin-top: 16px;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 7px;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    transform: scale(1);
    transition: all .3s ease;

    &:hover {
      transform: scale(1.1);
    }

    &.icon-viber {
      @include gedHoverShadow(#976FCC);
      background-color: #976FCC;
    }

    &.icon-whatsapp {
      @include gedHoverShadow(#12C868);
      background-color: #12C868;
    }

    &.icon-telegram {
      @include gedHoverShadow(#05A0EB);
      background-color: #05A0EB;
    }
  }
}

.main-screen {
  display: flex;
  margin-top: 20px;
}

@keyframes benefits_animation {
  0% {
    outline: 0 solid rgba($color-hover, .5);
    transform: scale(1);
  }

  10% {
    transform: scale(.9);
  }

  20% {
    transform: scale(1);
  }

  100% {
    outline: 20px solid rgba($color-hover, .01);
  }
}

.benefits {
  background-color: #fff;
  box-shadow: 0 0 75px rgba(0, 0, 0, 0.03);
  border-radius: 0 0 20px 20px;
  position: relative;
  display: flex;
  flex-direction: column;

  &::before {
    content: '';
    display: block;
    position: absolute;
    background-color: #fff;
    top: -30px;
    width: 100%;
    height: 60px;
    border-radius: 20px 20px 0 0;
    transform: skew(0, 5deg);
  }

  &__button {
    align-self: flex-end;
    display: none;
    height: 33px;
    width: 33px;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -10px;
    right: 14px;
    z-index: 1;
    animation: 1s benefits_animation infinite;
  }



  &__wrapper {
    display: flex;
    position: relative;
    width: 225px;
    flex-direction: column;
    align-items: center;
  }

  &__item {
    padding: 25px 0;
    position: relative;

    &:not(:last-child) {
      box-shadow: 0 10px 20px -20px rgba(34, 60, 80, 0.5);
    }
  }

  &__text {
    text-align: center;
    padding: 0 28px;

    &-small {
      opacity: 0;
      padding: 0 50px 0 28px;
      position: absolute;
      margin-top: 6px;
      font-size: 0.75rem;
      color: #B5B5B5;
      transition: all .3s ease;
    }
  }
}

.main-content {
  display: flex;
  flex-direction: column;
  margin-left: 70px;

  &__heading {
    font-size: 3.4rem;
    font-weight: 300;
  }

  &__text {
    display: flex;
    margin-top: 20px;

    &__dots {
      display: flex;
      margin-right: 16px;
      margin-bottom: -2px;
      width: 60px;
      align-items: center;
      justify-content: space-between;

      li {
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 50%;

        &:nth-child(1) {
          border: 2px solid $color-secondary;
        }

        &:nth-child(2) {
          border: 2px solid rgba($color-secondary, .75);
        }

        &:nth-child(3) {
          border: 2px solid rgba($color-secondary, .50);
        }

        &:nth-child(4) {
          border: 2px solid rgba($color-secondary, .25);
        }
      }
    }

    &__heading {
      font-weight: 400;
      font-size: 2rem;
    }
  }
}

.buttons {
  &__wrapper {
    display: flex;
    margin-top: 45px;

    .main__button {
      padding: 0 50px;
      height: 100px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      margin-right: 18px;

      &__icon {
        margin-left: 30px;
      }
    }
  }
}

.gift {
  &__wrapper {
    margin-top: 40px;
    display: flex;
  }

  &__text {
    text-align: center;
    margin-left: 16px;
    max-width: 280px;
  }
}

//Modal
.modal {
  &__bg {
    position: fixed;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    display: flex;
    overflow: auto;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(#000, .5);
  }

  &__card {
    position: relative;
    display: flex;
    left: 40%;
    top: -40%;
    flex-direction: column;
    align-items: center;
    background-color: #f8f9fb;
    margin: auto;
    border-radius: 35px;
    padding: 45px;
    transform: scale(0);
    transition: all .3s ease;
  }

  &__bg.show {
    visibility: visible;
    opacity: 1;

    .modal__card {
      transform: scale(1);
      left: 0;
      top: 0;
    }
  }

  &__header {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 45px 45px;
  }

  &__close {
    svg {
      transition: fill .3s ease;
      fill: #A0A0A0;
    }

    &:hover > svg {
      fill: $color-hover;
    }
  }

  &__heading,
  &__text,
  &__time {
    text-align: center;
  }


  &__heading {
    font-weight: 500;
    font-size: 1.875rem;
    line-height: 1.4;
  }

  &__text {
    margin-top: 14px;
    font-weight: 400;
  }

  &__time {
    margin-top: 24px;
    font-weight: 400;
    font-size: 0.75rem;
  }

  &__form {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.form {
  &__label {
    font-weight: 400;
    font-size: 0.75rem;
    align-self: flex-start;
    margin: 0 0 10px 45px;
  }

  &__input {
    padding-left: 45px;
    height: 85px;
    min-width: 350px;
    border: none;
    border-radius: 50px;
    outline: none;
    background-color: #fff;
  }

  &__submit {
    margin-top: 24px;
    width: 100%;
    height: 85px;
  }
}

.policy {
  &__wrapper {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }

  &__checkbox {
    visibility: hidden;
    position: absolute;
  }

  &__checkbox-label {
    height: 18px;
    width: 18px;
    border-radius: 4px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid rgba($color-hover, .5);
    transition: border .3s ease, background-color .3s ease;

    &:hover {
      border: 1px solid $color-hover;
    }
  }

  &__checkbox:checked + &__checkbox-label {
    background-color: $color-hover;
    background-image: url("../img/icons/check.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }

  &__text {
    margin-left: 20px;
    font-weight: 500;
    font-size: 0.75rem;
  }

  &__link {
    color: $color-hover;
    transition: color .3s ease;

    &:hover {
      color: rgba($color-hover, 0.75);
    }
  }
}

@media screen and (max-width: 992px) {
  html {
    font-size: 10px;
  }

  .container {
    padding: 0;
    margin: 0;

    &__main {
      display: flex;
      flex-direction: column;
      padding: 0 24px;
      max-height: 100vh;
    }
    &__bottom {
      height: 100%;
    }
  }

  .nav {
    grid-template-columns: 75px 1fr 20px;
    grid-template-rows: auto 24px repeat(8, auto);
    align-items: flex-start;
    grid-template-areas:
          'logo call menu'
          '. . .'
          'nav nav nav'
          'info info info'
          'pdf pdf pdf'
          'socials socials socials';
    position: relative;
    max-width: 100%;

    &__wrapper {
      flex-direction: column;
      align-items: center;
    }

    &__item {
      height: auto;
      margin-bottom: 20px;
    }

    &__link {
      padding: 0;
      border: none;

      &:hover, &.active {
        border: none;
      }
    }
  }

  .container {
    &__main {
      &.show_menu {
        .main-screen {
          display: none;
        }

        .grid {
          &-nav, &-info, &-pdf, &-socials {
            height: auto;
            left: 0;
          }
        }
      }
    }
  }

  .grid {
    &-nav, &-info, &-pdf, &-socials {
      position: relative;
      top: 0;
      left: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 0;
      overflow: hidden;
      transition: left .3s ease;
    }

    &-menu {
      display: block;
      grid-area: menu;
      align-self: center;
    }
    &-hr {
      display: none;
    }
  }

  .header-info {
    &__link {
      padding: 10px 0;
    }

    &__item {
      padding: 0;

      &__feedback {
        padding-top: 10px;
      }

      &__profession {
        max-width: none;
      }

      &__logo {
        img {
          width: 75px;
          height: 52px;
        }
      }
    }
  }

  .feedback {
    &__link {
      margin-top: 0;
    }
  }

  .main-screen {
    flex-direction: column;
    position: relative;
    overflow: hidden;
    height: 100%;
    align-items: center;
  }

  .benefits {
    position: fixed;
    bottom: -310px;
    order: 2;
    border-radius: 0;
    transition: bottom .3s ease;

    &.show {
      bottom: 0;

      .benefits__text-small {
        opacity: 0;
      }
    }

    &__wrapper {
      margin-top: -36px;
    }

    &__button {
      display: inline-flex;
    }

    &__text {
      text-align: left;
      padding-right: 50px;
      position: relative;

      &-small {
        opacity: 1;
      }
    }
  }

  .main-content {
    align-items: center;
    margin: 0;

    &__heading {
      font-size: 18px;
      text-align: center;
    }

    &__text {
      margin-top: 10px;
      justify-content: center;


      &__dots {
        width: 40px;

        li {
          width: 6px;
          height: 6px;
        }
      }

      &__heading {
        font-size: 13px;
      }
    }
  }

  .gift {
    &__wrapper {
      margin-top: 20px;
      flex-direction: column;
      align-items: center;
      max-width: 200px;
    }

    &__icon {
      width: 13px;
      height: 10px;
    }

    &__text {
      margin-left: 0;
      margin-top: 10px;
    }
  }

  .buttons {
    &__wrapper {
      margin-top: 12px;
      order: 2;
      flex-direction: column;

      .main__button {
        margin-right: 0;
        margin-bottom: 12px;
        height: 60px;

        &__icon {
          margin-left: 12px;
          width: 15px;
          height: 15px;
        }
      }
    }
  }

  .modal {
    &__card {
      left: 0;
      top: -40%;
      padding: 15px;
    }

    &__content {
      padding: 0 10px 10px;
    }

    &__text {
      margin-top: 10px;
    }

    &__time {
      margin-top: 14px;
    }

    &__form {
      margin-top: 14px;
    }
  }

  .form {
    &__label {
      margin: 0 0 10px 15px;
    }

    &__input {
      padding-left: 15px;
      height: 60px;
      min-width: 250px;
    }

    &__submit {
      margin-top: 24px;
      height: 60px;
    }
  }

  .policy {
    &__wrapper {
      margin-top: 10px;
    }

    &__text {
      margin-left: 10px;
    }
  }
}