* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  color: #1C1C1C;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
}

li {
  list-style: none;
}

a {
  color: #1C1C1C;
  text-decoration: none;
}

input {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
}
input::placeholder {
  color: #A7A7A7;
}

.button {
  border: none;
  cursor: pointer;
  color: #fff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  line-height: 1.5;
  font-weight: 500;
  text-transform: uppercase;
  box-shadow: inset 0 0 22px rgba(255, 255, 255, 0.25);
  transition: background-color 0.3s ease;
  border-radius: 200px;
}
.button-green {
  background-color: #12C868;
}
.button-green:hover {
  background-color: #21E27C;
}
.button-orange {
  background-color: #F38120;
}
.button-orange:hover {
  background-color: #FD9C49;
}
.button:disabled {
  cursor: auto;
  background-color: #555;
}

.container {
  max-width: 1570px;
  margin: 0 auto;
}
.container__main {
  min-height: 100vh;
  min-width: 100%;
  background-image: url("../img/bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.link-underline {
  padding: 3px 0;
  border-bottom: 2px dotted #12C868;
}

.nav {
  display: grid;
  min-width: 100%;
  grid-template-rows: 100px 2px 148px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: "nav nav nav nav nav" "hr hr hr hr hr" "info pdf logo socials call";
  align-items: center;
}

.grid-nav {
  grid-area: nav;
}
.grid-hr {
  grid-area: hr;
}
.grid-info {
  grid-area: info;
}
.grid-pdf {
  grid-area: pdf;
}
.grid-logo {
  grid-area: logo;
}
.grid-socials {
  grid-area: socials;
}
.grid-call {
  grid-area: call;
}
.grid-menu {
  display: none;
  border-radius: 0;
  background: transparent;
  box-shadow: none;
}

.nav__wrapper {
  display: flex;
  justify-content: space-between;
}
.nav__item {
  height: 100px;
}
.nav__link {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 30px;
  font-weight: 500;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
}
.nav__link svg {
  fill: #1C1C1C;
  transition: all 0.3s ease;
}
.nav__link:hover, .nav__link.active {
  color: #F38120;
  border-bottom: 2px solid #F38120;
}
.nav__link:hover svg, .nav__link.active svg {
  fill: #F38120;
}

.hr {
  display: block;
  height: 1px;
  border: none;
  border-top: 1px solid rgba(28, 28, 28, 0.07);
}

.header-info__item {
  text-align: center;
  justify-content: center;
  font-size: 0.75rem;
}
.header-info__item__profession {
  max-width: 240px;
}
.header-info__item__logo .logo__link {
  display: block;
}
.header-info__link {
  display: inline-flex;
  align-items: center;
  font-weight: 600;
  transition: all 0.3s ease;
}
.header-info__link::before {
  content: "Pdf";
  display: flex;
  font-size: 11px;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  margin-right: 18px;
  color: #12C868;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: none;
  transition: all 0.3s ease;
}
.header-info__link:hover {
  color: #12C868;
}
.header-info__link:hover::before {
  background-color: #12C868;
  box-shadow: 0 10px 15px rgba(18, 200, 104, 0.4);
  color: #fff;
}
.header-info .logo__link {
  display: block;
}

.feedback__text {
  display: inline-flex;
  align-items: center;
}
.feedback__text::before {
  content: "";
  display: inline-block;
  height: 4px;
  width: 4px;
  margin-right: 4px;
  border-radius: 50%;
  background-color: #12C868;
}
.feedback__link {
  display: flex;
  flex-direction: column;
  margin-top: 6px;
  transition: color 0.3s ease;
}
.feedback__link:hover {
  color: #12C868;
}
.feedback__phone {
  font-size: 1.375rem;
  font-weight: 600;
}
.feedback__call-me {
  align-self: center;
  color: #12C868;
}

.social-icons__wrapper {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
.social-icons__item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 7px;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.3s ease;
}
.social-icons__item:hover {
  transform: scale(1.1);
}
.social-icons__item.icon-viber {
  box-shadow: none;
  transition: all 0.3s ease;
  background-color: #976FCC;
}
.social-icons__item.icon-viber:hover {
  box-shadow: 0 10px 15px rgba(151, 111, 204, 0.4);
}
.social-icons__item.icon-whatsapp {
  box-shadow: none;
  transition: all 0.3s ease;
  background-color: #12C868;
}
.social-icons__item.icon-whatsapp:hover {
  box-shadow: 0 10px 15px rgba(18, 200, 104, 0.4);
}
.social-icons__item.icon-telegram {
  box-shadow: none;
  transition: all 0.3s ease;
  background-color: #05A0EB;
}
.social-icons__item.icon-telegram:hover {
  box-shadow: 0 10px 15px rgba(5, 160, 235, 0.4);
}

.main-screen {
  display: flex;
  margin-top: 20px;
}

@keyframes benefits_animation {
  0% {
    outline: 0 solid rgba(243, 129, 32, 0.5);
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  20% {
    transform: scale(1);
  }
  100% {
    outline: 20px solid rgba(243, 129, 32, 0.01);
  }
}
.benefits {
  background-color: #fff;
  box-shadow: 0 0 75px rgba(0, 0, 0, 0.03);
  border-radius: 0 0 20px 20px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.benefits::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #fff;
  top: -30px;
  width: 100%;
  height: 60px;
  border-radius: 20px 20px 0 0;
  transform: skew(0, 5deg);
}
.benefits__button {
  align-self: flex-end;
  display: none;
  height: 33px;
  width: 33px;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -10px;
  right: 14px;
  z-index: 1;
  animation: 1s benefits_animation infinite;
}
.benefits__wrapper {
  display: flex;
  position: relative;
  width: 225px;
  flex-direction: column;
  align-items: center;
}
.benefits__item {
  padding: 25px 0;
  position: relative;
}
.benefits__item:not(:last-child) {
  box-shadow: 0 10px 20px -20px rgba(34, 60, 80, 0.5);
}
.benefits__text {
  text-align: center;
  padding: 0 28px;
}
.benefits__text-small {
  opacity: 0;
  padding: 0 50px 0 28px;
  position: absolute;
  margin-top: 6px;
  font-size: 0.75rem;
  color: #B5B5B5;
  transition: all 0.3s ease;
}

.main-content {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
}
.main-content__heading {
  font-size: 3.4rem;
  font-weight: 300;
}
.main-content__text {
  display: flex;
  margin-top: 20px;
}
.main-content__text__dots {
  display: flex;
  margin-right: 16px;
  margin-bottom: -2px;
  width: 60px;
  align-items: center;
  justify-content: space-between;
}
.main-content__text__dots li {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.main-content__text__dots li:nth-child(1) {
  border: 2px solid #12C868;
}
.main-content__text__dots li:nth-child(2) {
  border: 2px solid rgba(18, 200, 104, 0.75);
}
.main-content__text__dots li:nth-child(3) {
  border: 2px solid rgba(18, 200, 104, 0.5);
}
.main-content__text__dots li:nth-child(4) {
  border: 2px solid rgba(18, 200, 104, 0.25);
}
.main-content__text__heading {
  font-weight: 400;
  font-size: 2rem;
}

.buttons__wrapper {
  display: flex;
  margin-top: 45px;
}
.buttons__wrapper .main__button {
  padding: 0 50px;
  height: 100px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 18px;
}
.buttons__wrapper .main__button__icon {
  margin-left: 30px;
}

.gift__wrapper {
  margin-top: 40px;
  display: flex;
}
.gift__text {
  text-align: center;
  margin-left: 16px;
  max-width: 280px;
}

.modal__bg {
  position: fixed;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  display: flex;
  overflow: auto;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal__card {
  position: relative;
  display: flex;
  left: 40%;
  top: -40%;
  flex-direction: column;
  align-items: center;
  background-color: #f8f9fb;
  margin: auto;
  border-radius: 35px;
  padding: 45px;
  transform: scale(0);
  transition: all 0.3s ease;
}
.modal__bg.show {
  visibility: visible;
  opacity: 1;
}
.modal__bg.show .modal__card {
  transform: scale(1);
  left: 0;
  top: 0;
}
.modal__header {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.modal__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 45px 45px;
}
.modal__close svg {
  transition: fill 0.3s ease;
  fill: #A0A0A0;
}
.modal__close:hover > svg {
  fill: #F38120;
}
.modal__heading, .modal__text, .modal__time {
  text-align: center;
}
.modal__heading {
  font-weight: 500;
  font-size: 1.875rem;
  line-height: 1.4;
}
.modal__text {
  margin-top: 14px;
  font-weight: 400;
}
.modal__time {
  margin-top: 24px;
  font-weight: 400;
  font-size: 0.75rem;
}
.modal__form {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__label {
  font-weight: 400;
  font-size: 0.75rem;
  align-self: flex-start;
  margin: 0 0 10px 45px;
}
.form__input {
  padding-left: 45px;
  height: 85px;
  min-width: 350px;
  border: none;
  border-radius: 50px;
  outline: none;
  background-color: #fff;
}
.form__submit {
  margin-top: 24px;
  width: 100%;
  height: 85px;
}

.policy__wrapper {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.policy__checkbox {
  visibility: hidden;
  position: absolute;
}
.policy__checkbox-label {
  height: 18px;
  width: 18px;
  border-radius: 4px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid rgba(243, 129, 32, 0.5);
  transition: border 0.3s ease, background-color 0.3s ease;
}
.policy__checkbox-label:hover {
  border: 1px solid #F38120;
}
.policy__checkbox:checked + .policy__checkbox-label {
  background-color: #F38120;
  background-image: url("../img/icons/check.svg");
  background-repeat: no-repeat;
  background-position: center center;
}
.policy__text {
  margin-left: 20px;
  font-weight: 500;
  font-size: 0.75rem;
}
.policy__link {
  color: #F38120;
  transition: color 0.3s ease;
}
.policy__link:hover {
  color: rgba(243, 129, 32, 0.75);
}

@media screen and (max-width: 992px) {
  html {
    font-size: 10px;
  }
  .container {
    padding: 0;
    margin: 0;
  }
  .container__main {
    display: flex;
    flex-direction: column;
    padding: 0 24px;
    max-height: 100vh;
  }
  .container__bottom {
    height: 100%;
  }
  .nav {
    grid-template-columns: 75px 1fr 20px;
    grid-template-rows: auto 24px repeat(8, auto);
    align-items: flex-start;
    grid-template-areas: "logo call menu" ". . ." "nav nav nav" "info info info" "pdf pdf pdf" "socials socials socials";
    position: relative;
    max-width: 100%;
  }
  .nav__wrapper {
    flex-direction: column;
    align-items: center;
  }
  .nav__item {
    height: auto;
    margin-bottom: 20px;
  }
  .nav__link {
    padding: 0;
    border: none;
  }
  .nav__link:hover, .nav__link.active {
    border: none;
  }
  .container__main.show_menu .main-screen {
    display: none;
  }
  .container__main.show_menu .grid-nav, .container__main.show_menu .grid-info, .container__main.show_menu .grid-pdf, .container__main.show_menu .grid-socials {
    height: auto;
    left: 0;
  }
  .grid-nav, .grid-info, .grid-pdf, .grid-socials {
    position: relative;
    top: 0;
    left: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 0;
    overflow: hidden;
    transition: left 0.3s ease;
  }
  .grid-menu {
    display: block;
    grid-area: menu;
    align-self: center;
  }
  .grid-hr {
    display: none;
  }
  .header-info__link {
    padding: 10px 0;
  }
  .header-info__item {
    padding: 0;
  }
  .header-info__item__feedback {
    padding-top: 10px;
  }
  .header-info__item__profession {
    max-width: none;
  }
  .header-info__item__logo img {
    width: 75px;
    height: 52px;
  }
  .feedback__link {
    margin-top: 0;
  }
  .main-screen {
    flex-direction: column;
    position: relative;
    overflow: hidden;
    height: 100%;
    align-items: center;
  }
  .benefits {
    position: fixed;
    bottom: -310px;
    order: 2;
    border-radius: 0;
    transition: bottom 0.3s ease;
  }
  .benefits.show {
    bottom: 0;
  }
  .benefits.show .benefits__text-small {
    opacity: 0;
  }
  .benefits__wrapper {
    margin-top: -36px;
  }
  .benefits__button {
    display: inline-flex;
  }
  .benefits__text {
    text-align: left;
    padding-right: 50px;
    position: relative;
  }
  .benefits__text-small {
    opacity: 1;
  }
  .main-content {
    align-items: center;
    margin: 0;
  }
  .main-content__heading {
    font-size: 18px;
    text-align: center;
  }
  .main-content__text {
    margin-top: 10px;
    justify-content: center;
  }
  .main-content__text__dots {
    width: 40px;
  }
  .main-content__text__dots li {
    width: 6px;
    height: 6px;
  }
  .main-content__text__heading {
    font-size: 13px;
  }
  .gift__wrapper {
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
  }
  .gift__icon {
    width: 13px;
    height: 10px;
  }
  .gift__text {
    margin-left: 0;
    margin-top: 10px;
  }
  .buttons__wrapper {
    margin-top: 12px;
    order: 2;
    flex-direction: column;
  }
  .buttons__wrapper .main__button {
    margin-right: 0;
    margin-bottom: 12px;
    height: 60px;
  }
  .buttons__wrapper .main__button__icon {
    margin-left: 12px;
    width: 15px;
    height: 15px;
  }
  .modal__card {
    left: 0;
    top: -40%;
    padding: 15px;
  }
  .modal__content {
    padding: 0 10px 10px;
  }
  .modal__text {
    margin-top: 10px;
  }
  .modal__time {
    margin-top: 14px;
  }
  .modal__form {
    margin-top: 14px;
  }
  .form__label {
    margin: 0 0 10px 15px;
  }
  .form__input {
    padding-left: 15px;
    height: 60px;
    min-width: 250px;
  }
  .form__submit {
    margin-top: 24px;
    height: 60px;
  }
  .policy__wrapper {
    margin-top: 10px;
  }
  .policy__text {
    margin-left: 10px;
  }
}

/*# sourceMappingURL=main.css.map */
